.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 8px 50px 8px;

    &__item {
        margin-right: 10px;
    }

    &__button {
        background-color: #f5f4fa;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        border-radius: 4px;
        padding: 6px 22px;
        transition: color var(--transition-animation), background-color var(--transition-animation),
            box-shadow var(--transition-animation);
    }

    &__item:last-child {
        margin-right: 0px;
    }

    &__button:hover,
    &__button:focus,
    &__button:active {
        background-color: var(--bluebrand-color);
        color: var(--brandwhite);
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}