.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;

        @media screen and (min-width:768px) {
            justify-content: space-around;
            align-items: flex-start;
        }

        @media screen and (min-width:1200px) {
            gap: 0;
            flex-wrap: nowrap;
            align-items: baseline;
            
        }
    }

    &__address-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:1200px) {
            display: block;
            margin-right: 70px;
        }
    }
}

.address {
    line-height: 1.71;
    font-style: normal;
    

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        @media screen and (min-width:1200px) {
            display: block;
        }
    }

    &__item {
        margin-bottom: 9px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__map {
        color: var(--brandwhite);
        line-height: 1.71;
        transition: color var(--transition-animation);
    }

    &__link {
        color: rgba(255, 255, 255, 0.6);
        line-height: 1.71;
        font-style: normal;
        transition: color var(--transition-animation);
    }

    &__map:hover,
    &__map:focus,
    &__link:hover,
    &__link:focus {
        color: var(--bluebrand-color);
    }

}


.callback {
    max-width: 450px;
    width: 100%;

    @media screen and (min-width:1200px) {
        max-width: 570px;
    }

    &__title {
        color: var(--brandwhite);
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:1200px) {
            display: block;
        }

    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width:1200px) {
            gap: 12px;
            flex-direction: row;
        }
    }

    &__input {
        display: flex;
        justify-content: center;
        max-width: 450px;
        width: 100%;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        background-color: transparent;
        color: var(--brandwhite);
        transition: border-color var(--transition-animation);

        @media screen and (min-width:1200px) {
            max-width: 358px;
        }
    }

    &__input:hover {
        border-color: var(--bluebrand-color);
    }

    &__icon {
        width: 24px;
        height: 24px;
        display: block;
        fill: var(--brandwhite);
    }
}
.social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

    @media screen and (min-width:1200px) {
        margin-right: 93px;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.join__text {
    text-transform: uppercase;
    color: var(--brandwhite);
    font-weight: 700;
    margin-bottom: 20px;
}