.header {
    height: 80px;
    border-bottom: 1px solid #ececec;
    display: flex;

    &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
}

.navigation {
    display: none;
    position: relative;

    @media screen and (min-width:768px) {
        display: block;
    }
    &__list {
        display: none;

        @media screen and (min-width:768px) {
            display: flex;
            gap: 50px;
        }
        }
    &__link {
        color: var(--brand-color);
        font-weight: 500;
        line-height: 1.14;
        padding: 32px 0;
        display: block;
        position: relative;
        transition: color var(--transition-animation);
    }
    &__item {
        letter-spacing: 0.02em;
    }
    &__link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: transparent;
    }

    &__link.current::after,
    &__link:hover::after,
    &__link:focus::after {
        background-color: var(--bluebrand-color);
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
        color: var(--bluebrand-color);
    }

    &__menu-open {
        display: block;
        

        @media screen and (min-width:768px) {
            display: none;
        }
    }
    
    &__menu-open {
        background-color: transparent;
    }

    &__menu-close {
        background-color: transparent;
        position: absolute;
        top: 15px;
        right: 15px;

    }
}


.contacts {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        align-items: flex-start;
        flex-direction: column; 
    }
    

    @media screen and (min-width:1200px) {
        align-items: center;
        flex-direction: row;
    }

    &__item {
        display: flex;
        letter-spacing: 0.02em;
        margin-left: 50px;
    }
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #757575;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        transition: color var(--transition-animation);

        @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 1.14;
        }
    }
    &__link:hover,
    &__link:focus,
    &__link:active {
        color: var(--bluebrand-color);
    }

    &__icon {
        margin-right: 10px;
        fill: #757575;
        transition: fill var(--transition-animation);
    }

    &__link:hover .contacts__icon,
    &__link:focus .contacts__icon,
    &__link:active .contacts__icon {
        fill: var(--bluebrand-color);
    }
    
}

.mob-menu {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--brandwhite);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 48px 40px;
    z-index: 1;
    transform: translateX(0);
    opacity: 1;
    transition: visibility var(--transition-animation), 
    opacity var(--transition-animation), 
    transform var(--transition-animation);
    

    @media screen and (min-width:768px) {
        display: none;
    }

    &.is-hidden {
        opacity: 0;
        transform: translateX(-100%);
        pointer-events: none;
        visibility: hidden;
        
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

    }
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }


    &__link {
        font-weight: 500;
        font-size: 40px;
        line-height: calc(47 / 40);
        letter-spacing: 0.02em;
        color: var(--brand-color);
    }


    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
    }


    &__tellink {
        font-weight: 500;
        font-size: 34px;
        line-height: calc(40 / 34);
        letter-spacing: 0.02em;
        color: var(--bluebrand-color);
        white-space: nowrap;
    }


    &__maillink {
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;
        color: var(--discription-color);

    }

    &__soclist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__soclink {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--bluebrand-color);
    }

    &__socitem {
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        
        &:first-child {
            padding-left: 0;
        }
        
        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }

}



.current {
    color: var(--bluebrand-color);
}
