.logo {
    height: 31px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;

    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.19;
    }

    
    &--white {
        color: var(--brandwhite);
        margin-right: 0;
    }

    &__part {
        color: var(--bluebrand-color);
    }
}
