body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    background-color: var(--brandwhite);
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--brand-color);
    text-align: center;

    &--about {
        margin-bottom: 50px;
    }

    &--team {
        margin-bottom: 50px;
        padding-top: 94px;
    }
}